# Please provide values for the following variables and rename this file to .env
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_ENDPOINT_URL=https://api.airtable.com/
AIRTABLE_API_VERSION=0.1.0
AIRTABLE_USER_AGENT=Airtable.js/0.7.1
AIRTABLE_USER_TABLE=
DISABLE_HASH_PASSWORD=false
SALT_ROUNDS=